{
  "Logging": {
    "LogLevel": {
      "Default": "Debug",
      "System": "Information",
      "Microsoft": "Information"
    }
  },
  "ConnectionStrings": {
    "DefaultConnection": "server=HOSTNAME;port=3306;database=DB;uid=USER;password=PASS"
  },
  "OnboardingToken": "foo"
}
